img {
     width: 300px;
}

header {
     background-color: rgb(255, 241, 134);
     color: rgb(159, 119, 9);
     text-align: center;
     max-width: 800px;
     margin: 0 auto;
     padding: 16px;
}

main {
     background-color: #ffff;
     color: #426b97;
     max-width: 800px;
     margin: 0 auto;
     padding: 16px;
}

.artigo-autor {
     font-weight: bold;
}

article {
     display: flex;
}